<head>
  <link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
  <script src="//assets.ziggeo.com/js/ziggeo-json2-betajs-player.min.js"></script>
  <script>ZiggeoApi.token = "2deecf9c00f2077ad7ca6e9e383b5c92";</script>
</head>


<div class="container">
  <div class="black-background"> </div>

  <div class="pic-circles-section">
    <div class="image-area"> </div>
    <div class="profile-pic"> <p>+ Upload Photo</p> </div>
    <div class="fm-circle"> <h3>fm</h3> </div>
    <div class="fr-circle"> <h3>fr</h3> </div>

    <%= link_to new_user_subject_path(@user) do %>
      <div class="create-circle-small"> <h3>+</h3> </div>
    <% end %>

    <div class="create-circle"><h3>+<h3></div> 

  </div> <!-- end pic-circles-section div -->

</div> <!-- end container div -->


<!-- //**************DATA FOR DOM MANIPULATIONS******************************/ -->

<div class="data">
  <div class="black-background-data"> </div>
  <ul id="media-stash"> </ul>

  <% @subjects.each do |subject| %>
  <%= link_to("Create Video", new_user_subject_memory_path(user_id:@user.id, subject_id:subject.id), id: 'video-link-' + subject.id.to_s)%>
  <% end %>
</div>
