
/*
ziggeo {
	position: relative;
	left: 40%;
	padding-top-top: 8em;
}*/

/*button {

}*/
body {
background-color: gray;
}


form input[type=submit]:hover {
	opacity: .9;
	
}

form input[type=submit] {
	margin-top: 1em;
	position: relative;
	left: 5.5em;
}
