

.right {
	float: right;
	display: block;
	overflow: hidden;
	margin: 1em 1em;
	border-color: ;
	color: white;
}

a {
	text-decoration: none;
}

.right:hover {
	opacity: .7;

}

nav {
	height: 2.3em;
	background-color: black;
}