html {
	font-family: 'Quattrocento Sans', sans-serif;
}

.main h1 {
	font-size: 8em;
}
.main {
	background-color: black;
	text-align: center;
	height: 40em;
	padding-top: 13em;
	font-family: 'Quattrocento Sans', sans-serif;
	color: white;
}

.main span {
	font-size: 1em;
	background-color: black;
}

.black-bottom-home {
	position: relative;
	width: 100%;
	height: 30em;
	display: block;
	background-color: black;
	top: 14em;
	z-index: -4
}