html {
	font-family: 'Quattrocento Sans', sans-serif;
}


.main {
	background-color: black;
	text-align: center;
	height: 40em;
	padding-top: 13em;
	color: white;
}

#my-home-page-span {
	color: yellow;
	font-size: 7em;
	z-index: 14;
}

hr {
	width: 22em;
	margin-top: 2em;
}

#journey-home-page-span {
	color: white;
	font-size: 7em;
	z-index: 14;
}



.black-bottom-home {
	position: relative;
	width: 100%;
	height: 30em;
	display: block;
	background-color: black;
	top: 14em;
	z-index: -4
}